html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.footer {    
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;/* #f5f5f5*/
}
